#messages-container {
    width: 100%;
    max-width: 1000px;
    height: 75vh; 
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 10px;
}

#chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    height: 27px;
    z-index: 9999;
}

#searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #ffffff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    width: 200px; 
    flex: none;
    margin-left: auto;
    margin-right: 15px;
    height: 40%;
}

#searchInput:focus {
    background: #f9f9f9;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#userList-container {
    position: absolute;
    top: 0;
    margin-top: 20px;
    width: 300px;
    height: 90vh;
    right: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow-y: auto;
}

#online-users, #offline-users {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

#online-users {
    background-color: #d4edda; 
    border: 1px solid #c3e6cb;
}

#offline-users {
    margin-top: 15px;
    background-color: #f8d7da; 
    border: 1px solid #f5c6cb;
}

h3 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 16px;
    text-align: center;
}

.user-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 8px 12px;
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.user-card:hover {
    background-color: #f8f9fa;
}

#answer-container, #edit-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 90%;
    max-width: 1000px;
    margin: 10px auto 0; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
    font-size: 16px;
    color: #333; 
    margin-bottom: -25px;
}

#input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

#message-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

.message {
    display: flex;
    flex-direction: column; 
    gap: 3px; 
    margin-bottom: 10px;
    transition: all 0.1s ease; 
    border-radius: 5px; 
    padding-right: 7px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.message-header {
    margin-top: 3px;
    margin-left: 7px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.nickname {
    font-weight: bold;
    color: orange;
}

.time {
    font-size: 0.9em;
    color: gray;
    margin-right: auto; 
    margin-left: 12px;
}

.message-text {
    margin-bottom: 3px;
    margin-left: 7px;
    color: rgb(5, 0, 0);
}

#message-control {
    width: 5%;
    border: 2px solid #888; 
    border-radius: 5px;
    padding: 5px;
    background-color: #e0e0e0;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);  */
}

#arrow-icon {
    margin-left: 5px;
    margin-top: 4px;
}

#pencil-icon {
    margin-left: 9px;
}

#bin-icon {
    margin-left: 9px;
}

#arrow-icon:hover {
    color: #FFC107;
}

#pencil-icon:hover {
    color: #2ECC71;
}

#bin-icon:hover {
    color: #ff0000;
}

#user-profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

#profile-username {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#send-message-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#send-message-btn:hover {
    background: #0056b3;
}
