<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/messanger.css">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <!-- <div id="server-scroller"></div> -->
    
    <div id="messages-container"></div>
    
    <div id="userList-container"></div>
    
    <div id="input-container">
        <input type="text" id="message-input" placeholder="Введите сообщение...">
        <button id="send-button">Отправить</button>
    </div> 

    <script src="../static/send_message.js"></script>
</body>
</html>
